<header class="bar-header">
    <a id="menu" role="button">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
    <h1 class="logo">
        <a href="{{ site.baseurl }}/">
            {% if site.use_logo %}
                {% include logo.html %}
            {% else %}
                {{ site.name }} <span class="version">{{ site.version }}</span>
            {% endif %}
        </a>
    </h1>
    <a id="search" class="dosearch" role="button">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
    <script>
    function randomSite() {
        var sites = [
            'https://miltiadisr.github.io/Wondersoftheworld/pois/Chichen_Itza/',
            'https://miltiadisr.github.io/Wondersoftheworld/pois/Christ_the_Redeemer/',
            'https://miltiadisr.github.io/Wondersoftheworld/pois/Colosseum/',
            'https://miltiadisr.github.io/Wondersoftheworld/pois/Colossus_of_Rhodes/',
            'https://miltiadisr.github.io/Wondersoftheworld/pois/Great_Pyramid_of_Giza/',
            'https://miltiadisr.github.io/Wondersoftheworld/pois/Great_Wall_of_China/',
            'https://miltiadisr.github.io/Wondersoftheworld/pois/Hanging_Gardens_of_Babylon/',
            'https://miltiadisr.github.io/Wondersoftheworld/pois/Lighthouse_of_Alexandria/',
            'https://miltiadisr.github.io/Wondersoftheworld/pois/Machu_Picchu/',
            'https://miltiadisr.github.io/Wondersoftheworld/pois/Mausoleum_of_Maussollos/',
            'https://miltiadisr.github.io/Wondersoftheworld/pois/Petra_of_Jordan/',
            'https://miltiadisr.github.io/Wondersoftheworld/pois/Statue_of_Zeus_at_Olympia/',
            'https://miltiadisr.github.io/Wondersoftheworld/pois/Taj_Mahal/',
            'https://miltiadisr.github.io/Wondersoftheworld/pois/Temple_of_Artemis/'
        ];

        openSite = function() {
            var i = parseInt(Math.random() * sites.length);
            i = parseInt(i, 10)
            link = sites[i];
        };
        return link;
</script>
<a href="javascript:openSite()" class="get-theme" role="button">Random</a>
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
