---
layout: default
load_leaflet: 1
---

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- <h1 style="float: right; margin-top: 1vh; margin-bottom: 4vh;margin: 5vw; font-size:6vw;">{{page.title}}</h1> -->
<h2 style="margin-left: 5vw; font-size: 4.5vw" id="wikidata_title"></h2>
<h3 style="margin-left: 5vw" id="wikidata_descr"></h3>
<p style="margin-left: 5vw" id="wikidata_location"></p>
<a style="margin-left: 5vw" id="wikidata_href" target="_blank"><span id="wikipedia_title"> </a></br></br></br>

{% include share.html %}

<img id="wikidata_img" style="width:100%; padding-bottom:20px;" />

<div class="content-class" style="padding-left: 20px; padding-right: 20px; text-align: justify;">
{{ content }}
</div>